ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 8px;
}
